/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

.jh-navbar {
    background-color: #ffffff;
    padding: .2em 1em;
    height: 100px;
    font-size: 14px;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active {
    color: #333333;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item li a {
    padding-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
    color: #000;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-top: 5px solid;
    border-color: transparent;
}

.jh-navbar li a.nav-link:hover, .jh-navbar li a.nav-link:focus {
   background-color: #fb3100;
   color: #ffffff;

}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fb3100;
}

ul.navbar-nav li {
    border-left: 1px dotted #fb3100;
    
} 

ul.dropdown-menu {
    border-top: 5px solid #fb3100;
    padding: 0px;
    border-radius: 0px;
}

ul.dropdown-menu li {
    border-left: none;
    border-bottom: 1px solid #cccccc;
    color: #efefef;
    padding: 10px 0 10px 0;
}

ul.dropdown-menu li a {
    background-color: #ffffff;
    color: #333333;

}

ul.dropdown-menu li a:hover, ul.dropdown-menu li a:focus  {
    background-color: #ffffff;
    color:  ##fb3100;
    font-weight: 400;

}

.jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    color: ##fb3100;
    font-weight: 400;


}

.dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    color: #fb3100;
    font-weight: 400;
}

ul.navbar-nav li i, ul.dropdown-menu li i {
    width: 20px;
}

ul. 
@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.jh-logo-container {
    background: #333333;
}

.logo  {
    display: inline-block;
    vertical-align: middle;
    background-color: #333333;
    height: 47px;
}

.logo-img {  
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    background: url("../../../content/images/bix-logo.png") no-repeat center center;
    background-size: contain;
    width: 12%;
}

.navbar-brand {
    background: #333333;
}
